@import './fonts.css';
@import './colors.css';
@import './typography.css';
@import './spacing.css';
@import './effects.css';

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--paper-1);
  background-image: var(--paper-grain);
  color: var(--ink-900);
  font-family: var(--font-body);
}
